---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import CardBlogPost from "~/components/CardBlogPost.astro";
const posts = await getCollection("blog");
---

<Layout>
  <Section>
    <Container>
      <Heading>
        <h1 slot="heading-title" class="h2 text-[#44A08D]">News</h1>
        <p slot="heading-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
          porro modi labore architecto eaque pariatur.
        </p>
      </Heading>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-16 xl:gap-24">
        {posts.map((post) => <CardBlogPost post={post} />)}
      </div>
    </Container>
  </Section>
</Layout>
