---
import { Image } from "astro:assets";

import Party from "~/assets/images/map.png";
---

<a
  href="https://maps.apple.com/?address=107%20S%20Madison%20St,%20Spokane,%20WA%20%2099201,%20United%20States&auid=15157764476874080579&ll=47.656239,-117.427794&lsp=9902&q=Garden%20Party&t=r"
  target="_blank"
  rel="noopener noreferrer"
  class="w-full h-auto"
>
  <Image
    src={Party}
    alt="Map"
    class:list={"w-full h-auto border-solid border-pink-500 border-8 rounded-xl "}
  />
</a>
